<ion-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="root.home" ui-sref-active="active">
                <i class="icon ion-home"></i> Inicio
            </ion-item>
            <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="root.categoria(::{ categoria_name: 'destacada' })" ui-sref-active="active">
                <i class="icon ion-arrow-graph-up-right"></i> Destacadas
            </ion-item>
            <ion-item class="item item-icon-left" nav-clear menu-close ui-sref="root.categoria(::{ categoria_name: 'policiaca' })" ui-sref-active="active">
                <i class="icon ion-speakerphone"></i> Policiaca
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
