ion-spinner{
    width: 100%;
    display: block;
    text-align: center;
    margin: 15px 0;
}
.item-body h2{
	color:#555;
	font-weight:bold;
}

.item p {
    color: #666;
    font-size: 13px;
    margin-bottom: 2px;
}

.back-text{
	display:none !important;
}